* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #202124;
    font-family: arial,sans-serif;
    font-weight: 400;
}
main {
    border: 1px solid #3c4043;
    border-radius: 10px;
    width: 500px;
    margin: 50px auto;
}
main >div:first-child {
    color: #8ab4f8;
    width: 100%;
    border-bottom:5px solid #8ab4f8 ;
    padding: 15px;
    display: flex;
    place-content: center;
}

main >div:nth-child(2) {
    color: #fff;
    padding: 50px;
    font-size: 3em;
    display: flex;
}
main >div:nth-child(2) input{
    margin-left: 20px;
    width: 2ch;
    background-color: inherit; 
    border: none;
    outline: none;
    color: #fff; 
    font-size: 1em;
}

main >div:has(button){
    padding: 15px;
    border-top: 1px solid #3c4043;
}
button {
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    transition: 200ms ease-in-out;
    opacity: 0.32;
}
button:first-of-type {
    background-color: #8ab4f8;
}
